# 커서 규칙
- before making new file, check if it already exists
- before making new function, check if it already exists

# nextjs
- app router 사용
- alias는 @ 사용

# supabase
- utils/supabase/client.ts 사용

# clerk
- utils/supabase/clerk-client.ts 사용

# shadcn
- npm install shadcn@latest 
- components/shadcn 에서 import하기